.app-logo {
  position: absolute;
  margin-top: 1%;
  margin-left: 1%;
  max-width: 8%;
  max-height: 8%;
}

.app-name{
  position: absolute;
  font-family: "Inter";
  color: #FFFFF0;
  font-size: 4vh;
  margin-left: 5.2%;
  margin-top: 1.6%;
}

.left-side-shade{
  position: absolute;
  width: 40%;
  height:100%;
  z-index: -1;
  background-color: #1c1c1c;
  border-right: 0.1px solid #a8a2a2;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-right: 20%;
}

.typing-animation {
  display: flex;
  align-items: center;
  width: 110%;
  height: 100%;
  grid-row: 1/2;
  grid-column: 3;
  margin-top: 33%;
  margin-left: 30%;
}

.auth-card {
  width: 20vw;
  height: 60vh;
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  margin-top: 45%;
  margin-left: 35%;
  box-shadow: 0 0 20px 10px #b400ff;
}
.error-message{
  margin-left: 50vh;  
  margin-top: 50vh;
}

@media (max-height: 1080px) {
  .auth-card {
    margin-top: 14vh;
    width: 25vw;
    border-radius: 15px;
    padding: 15px;
    margin-left: 22%;
    height: 75vh;
  }

  .app-logo {
    position: absolute;
    margin-top: 0.5%;
    margin-left: 0.5%;
    max-width: 7%;
    max-height: 7%;
  }

  .app-name{
    position: absolute;
    font-family: "Inter";
    color: #FFFFF0;
    font-size: 3.5vh;
    margin-left: 4.2%;
    margin-top: 1.2%;
  }

  .typing-animation {
    margin-left: 27%;
}
}


@keyframes toastAnimation {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}