.column-card {
    border: 2px solid #b400ff;
    background: #808080 ;
    box-shadow: -3px -3px 6px 2px #b400ff, 5px 5px 8px 0px rgba(0, 0, 0, 0.17),
      1px 2px 2px 0px rgba(0, 0, 0, 0.1);
    padding:5px!important;
    transition: 0.1s; border-radius: 20px; font-size:20px!important;
    width: calc(50% - 50px); /* Two columns, with spacing */ 
    margin: 10px;
    }

.add-file-button {
  position : absolute;
}