.mascot-logo {
  margin-bottom: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160%;
  height: 65%;
  margin-left: 185%;
  margin-top: 17%;
}


@media (min-width: 1920px) and (max-width: 1920px) and (min-height: 1080px) and (max-height: 1080px) {
  .mascot-logo {
    width: 160%;
    height: 65%;
  }
}

@media (min-width: 1366px) and (max-width: 1366px) and (min-height: 768px) and (max-height: 768px) {
  .mascot-logo {
    width: 160%;
    height: 50%;
  }
}
